{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Uzma industries Limited </title>
    <link rel="stylesheet" href="{% static 'css/layout1.css' %}">
    <link rel="icon" href="{% static 'images/e1.jpg' %}" type="image/x-icon">

</head>

<body>
    <div class="container">
        <div class="banner">
            UZMA INDUSTRIES LIMITED
        </div>
        <div class="menu">
            <div class="menuitem"><a href="/home">Home</a></div>
            <div class="menuitem"><a href="/products">Products</a></div>
            <div class="menuitem"><a href="/people">People</a></div>
            <div class="menuitem"><a href="/contactus">ContactUs</a></div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock  %}
        </div>
        <div class="footer">
            Copyright © 2020 Uzma Industries Limited, Developed by Khadar basha.
        </div>
    </div>
</body>

</html>