{% extends "mywebsite/base.html" %}

{% block content %}
<div class="homecontent">
    <h1>About Us</h1>
    <img src="/static/images/a1.jpg" alt="Building">
    <div class="contenttext">
        Uzma manufacturing is a major industry. It is largely based on the conversion of fibre into yarn, yarn into
        fabric. These are then dyed or printed, fabricated into clothes which are then converted into useful goods such
        as clothing, household items, upholstery and various industrial products it summarizes the types of trade and
        industry along the production and life chain of clothing and garments, starting with the textile industry
        (producers of cotton, wool, fur, and synthetic fibre), embellishment using embroidery, via the fashion industry
        to apparel retailers up to trade with second-hand clothes and textile recycling. The producing sectors build
        upon a wealth of clothing technology some of which, like the loom, the cotton gin, and the sewing machine
        heralded industrialization not only of the previous textile manufacturing practices.Different types of fibres
        are used to produce yarn. Cotton remains the most important natural fibre, so is treated in depth. There are
        many variable processes available at the spinning and fabric-forming stages coupled with the complexities of the
        finishing and colouration processes to the production of a wide range of products.
     <ul>
        <li>Levi's</li>
        <li>Flying Machine</li>
        <li>Allen Solly </li>
        <li>Numero Uno</li>
        <li>Mufti</li>
        <li>Pepe Jeans</li>


        </ul>
    </div>
</div>
{% endblock  %}