{% extends "mywebsite/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c1.jpg" alt="product image">
            </div>
            <div class="itemname">Levi's Boys' Shirt</div>
            <div class="itemprice">Price: Rs.7600.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c2.jpg" alt="product image">
            </div>
            <div class="itemname">LEVI'S SHERPA TRUCKER JACKET</div>
            <div class="itemprice">Price: Rs.9000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c3.jpg" alt="product image">
            </div>
            <div class="itemname">Flying machine blue label surplus jeans</div>
            <div class="itemprice">Price: Rs.1500.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c4.jpg" alt="product image">
            </div>
            <div class="itemname">Men Black Hooded Colour Blocked Casual Jacket</div>
            <div class="itemprice">Price: Rs.7000.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c5.jpg" alt="product image">
            </div>
            <div class="itemname">Numero Uno Men's Super Slim Jeans</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c6.jpg" alt="product image">
            </div>
            <div class="itemname">Numero Uno Sweatshirt</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c7.jpg" alt="product image">
            </div>
            <div class="itemname">ECO-NEUTRAL Shirts</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c8.jpg" alt="product image">
            </div>
            <div class="itemname">Numero Uno Black Hoodie</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c9.jpg" alt="product image">
            </div>
            <div class="itemname">Numero Uno White And Black Collar Checked Casual Shirt</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c10.jpg" alt="product image">
            </div>
            <div class="itemname">Mufti brand t shirt...</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c11.jpg" alt="product image">
            </div>
            <div class="itemname">Surplus Mufti Shirts, Size: M-4XL</div>
            <div class="itemprice">Price: Rs.1200.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/images/c12.jpg" alt="product image">
            </div>
            <div class="itemname"> Black clue pepe jeans</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
    </div>
</div>
{% endblock  %}